
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<div style="margin-top: 100px; text-align: center" >
    <div class="correct_validation_message">
        <h2>Twoje zamówienie zostało przekazane do realizacji.<br /></h2>
    </div>
    
    Stan zamówienia można sprawdzić w zakładce
    "Zamówienia". Po wysłaniu towaru, na podany adres e-mail w formularzu, zostanie wysłana informacja
    potwierdzające zrealizowanie zamówienia.
</div>
