@model IEnumerable<Shop.Models.Order>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DetailsOrder</title>
</head>
<body>

    
</body>
</html>
