
@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">

        <div class="col-md-12" style="text-align:center">
            <nav aria-label="breadcrumb" style="background-color:white">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("StaticPages","Home", new { name ="Index"})"><span class="glyphicon glyphicon-home"></span> Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">O nas</li>
                </ol>
            </nav>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center">
            <h1>O nas</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis, risus eu vulputate molestie, ligula magna pretium neque, eu pellentesque magna orci eu elit. Curabitur sagittis dignissim mi in varius. Curabitur sed porttitor nunc. Nullam porta scelerisque varius. Donec a mauris scelerisque, lobortis justo in, ullamcorper turpis. Nulla sapien quam, pretium eu eleifend sit amet, finibus ac lectus. Sed eget orci lobortis, suscipit arcu ut, sodales elit.

                Donec sed augue sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris sed tristique velit. Suspendisse a fringilla ante. Fusce feugiat auctor dui, at fermentum ante dignissim quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus, nisl ac finibus lacinia, ante velit rutrum risus, sed bibendum massa nisi in mauris. Sed mollis fermentum ante, in tempus lectus pharetra et. Nullam eget nulla ullamcorper, egestas ipsum ut, ultricies turpis. Donec eu sagittis tortor. Integer ultrices justo sit amet lorem egestas, dapibus finibus odio cursus. Pellentesque in neque vel tellus posuere molestie in at nisl. Aenean nec sagittis orci. Cras quis ipsum velit.

                Fusce quam augue, porttitor vitae elit ut, interdum ultrices enim. Suspendisse ut tortor felis. Vestibulum at magna dui. Suspendisse porttitor sollicitudin urna eu pulvinar. Donec vel viverra neque. Donec vestibulum leo leo, et congue neque pharetra quis. Sed vel interdum augue. Mauris et leo venenatis, convallis metus vitae, porta augue. Vivamus eget ante quis urna hendrerit condimentum vel eu est. Duis non pretium leo. Ut ac ligula hendrerit, semper nulla a, dapibus mauris. Duis tincidunt risus et leo mattis auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi semper augue non imperdiet lacinia. Vivamus quis ex vestibulum, fringilla risus eu, laoreet justo. Suspendisse porttitor odio in risus dignissim, a aliquam nibh scelerisque.

                Curabitur ex massa, malesuada nec metus vitae, lobortis tempor felis. Sed dolor mi, semper nec placerat sed, egestas sit amet ipsum. Praesent volutpat nunc ac venenatis pulvinar. Praesent auctor tortor dolor, in finibus velit vestibulum vel. Nulla fermentum lacus vel massa maximus feugiat eget sit amet justo. Phasellus porttitor diam id lacus condimentum tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                Ut venenatis in orci vel condimentum. Nulla sapien diam, faucibus quis hendrerit nec, pellentesque vitae metus. Morbi euismod et est id congue. Nam vitae massa nec diam sagittis malesuada. Donec in nulla aliquam, suscipit justo id, feugiat metus. Integer fringilla tortor lacinia ipsum venenatis, eget sodales nulla volutpat. Quisque leo ex, suscipit tincidunt ligula ac, posuere faucibus mi. Donec sed consequat erat, a commodo nibh. Nunc felis nibh, volutpat non nisl et, suscipit malesuada augue. Nullam mattis nisl a magna laoreet, non pellentesque tellus dictum. Duis eget vehicula lorem, id pellentesque quam. Donec lacinia non augue vitae hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ut dui mauris.
            </section>
        </div>
    </div>
    </div>


