
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-md-12" style="text-align:center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("StaticPages","Home", new { name ="Index"})"><span class="glyphicon glyphicon-home"></span> Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Regulamin</li>
                </ol>
            </nav>

        </div>
        <div class="col-md-12" style="text-align:center">
            <h1>Regulamin</h1>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section>
                <div style="margin:50px; text-align:justify">

       
                    <h2>Zasada 1</h2>
                    <h4>Podpunkt a</h4>
                    <p>
                        Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.e varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                    </p>
                    <h4>Podpunkt b</h4>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.    
                    </p>
                    <h2>Zasada 2</h2>
                    <p>
                        Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.   
                    </p>
                    <h2>Zasada 3</h2>
                    <p>
                        Ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit.
                    </p>
                   

                </div>
            </section>
        </div>
    </div>
</div>


in